body {
  background: #e4e4e4;
}

.col-lg-4 {
  width: 100%;
  text-align: center;
}

.about-section {
  margin: auto;
  text-align: center;
}

#description {
  width: 75%;
  padding-bottom: 4%;
}

#bio-section, #stats {
  width: 50%;
}

.divider {
  height: 1px;
  width: 100%;
  display: block;
  overflow: hidden;
  margin-top: 15px;
  background-color: #ccc;
}