.splash {
    background-image: url(../images/genesis.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}


.title h1, .title h2 {
  text-align: center;
  color: #000; /* -currently- dark gray */
}

.index-descr {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-size: 4vw;
}

#main {
  padding-top: 36px;
}

.col-md-12 {
  margin: 0;
  padding-top: 64px;
}

#myCarousel {
  background-color: rgba(192, 192, 192, 0.25);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  width: 60vw;
  height: 25vh;
}

.carousel,.item,.active {
  margin: 0;
  padding: 0;
  height: 100%;
}

.carousel-inner {
  margin: 0;
  padding: 0;
  height: 100%;
}

.item .carousel-caption {
  vertical-align: middle;
  height: 75%;
}

.carousel-caption h1 a {
  font-size: 50px;
  font-size: 4vw;
  color: white;
}