body {
  background: #e4e4e4;
}

.magicdb-header {
  position: relative;
  left: 10px;
  padding-bottom: 1%;
}

.model-inst {
	display: inline-block;
	text-align: center;
	padding: 1%;
}

.model-inst:hover {
	background: #d8d8d8;
}

.btn-group {
	margin-top: 3%;
	left: 1.5%;
}

.btn-group ol {
	margin: 10px;
}