<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Cards - MagicDB</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/models.css">
	</head>


	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">MagicDB</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/index">Home</a></li>
						<li class="active"><a href="#">Cards</a></li>
						<li><a href="/sets">Sets</a></li>
						<li><a href="/subtypes">Subtypes</a></li>
						<li><a href="/artists">Artists</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div class="magicdb-header">
			<h1>Cards</h1>
			<h3>There are thousands of unique cards in Magic, here are some of them. </h3>
			<div class="btn-group">
			  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Sort By: <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <ol>Name</ol>
			    <ol>Mana Cost</ol>
			    <ol>Power</ol>
			    <ol>Toughness</ol>
			    <ol>Rarity</ol>
			    <ol>Color</ol>
			    <ol>Type</ol>
			  </ul>
			</div>
			<div class="btn-group">
			  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Filter By: <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <ol><label class="checkbox-inline"><input type="checkbox" value="">Name</label><input type="text" class="form-control" id="usr"></ol>
			    <ol><label class="checkbox-inline"><input type="checkbox" value="">Mana Cost</label><input type="text" class="form-control" id="usr"></ol>
			    <ol><label class="checkbox-inline"><input type="checkbox" value="">Power</label><input type="text" class="form-control" id="usr"></ol>
			    <ol><label class="checkbox-inline"><input type="checkbox" value="">Toughness</label><input type="text" class="form-control" id="usr"></ol>
			    <ol><label class="checkbox-inline"><input type="checkbox" value="">Rarity</label><input type="text" class="form-control" id="usr"></ol>
			    <ol><label class="checkbox-inline"><input type="checkbox" value="">Color</label><input type="text" class="form-control" id="usr"></ol>
			    <ol><label class="checkbox-inline"><input type="checkbox" value="">Type</label><input type="text" class="form-control" id="usr"></ol>
			  </ul>
			</div>
		</div>

		<div class="container-fluid">
			<div class="model-inst">
				<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=413585&type=card">
				<h4><a href="cards-instance.html?id=b611177dca2da89d2915f6ac4b5268a1426086cb">Counterspell</a></h4>
			</div>

			<div class="model-inst">
				<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=425915&type=card">
				<h4><a href="cards-instance.html?id=6e978e23a63cefdfaa34aee0bb4bdadd2ddfd459">Blood Moon</a></h4>
			</div>

			<div class="model-inst">
				<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=382866&type=card">
				<h4><a href="cards-instance.html?id=6ad6463d56da447ab490a1a2b2b8a18759befc5f">Black Lotus</a></h4>
			</div>
		</div>


		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<body>
</html>
