{%extends "base.html"%}

{%block content%}

  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  <div class="splash">
    <div id="main" class="title">
      <img src="../static/images/MainLogo.png" style="display: block; margin: auto; width: 50%;">
    </div> <!-- end of title -->

    <h1 class="index-descr">Magic the Gathering Database</h1>

    <div class="col-md-12">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data_target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="carousel-caption">
              <h1><a href="cards.html">Look at cards!</a></h1>
            </div>
          </div>
          <div class="item">
            <div class="carousel-caption">
              <h1><a href="sets.html">Look at sets!</a></h1>
            </div>
          </div>
          <div class="item">
            <div class="carousel-caption">
              <h1><a href="artists.html">Look at artists!</a></h1>
            </div>
          </div>
          <div class="item">
            <div class="carousel-caption">
              <h1><a href="subtypes.html">Look at subtypes!</a></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}
