{%extends "base.html"%}

{%block content%}
	<link rel="stylesheet" type="text/css" href="../static/css/models.css">
	<div class="magicdb-header">
		<h1>Sets</h1>
		<h3>Cards are released in different sets, here are some of them. </h3>
		<div class="btn-group">
		  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Sort By: <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <ol>Name</ol>
		    <ol>Code</ol>
		    <ol>Release Date</ol>
		    <ol>Number of Cards</ol>
		  </ul>
		</div>
		<div class="btn-group">
		  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Filter By: <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <ol><label class="checkbox-inline"><input type="checkbox" value="">Name</label><input type="text" class="form-control" id="usr"></ol>
		    <ol><label class="checkbox-inline"><input type="checkbox" value="">Release Year</label><input type="text" class="form-control" id="usr"></ol>
		    <ol><label class="checkbox-inline"><input type="checkbox" value="">Number of Cards</label><input type="text" class="form-control" id="usr"></ol>
		  </ul>
		</div>
	</div>

	<div class="container-fluid">
		<div class="model-inst">
			<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=413585&type=card">
			<h4><a href="sets-instance.html?code=&quot;EMA&quot;&cards=&quot;Counterspell&quot;&name=&quot;Zach Stella&quot;">EMA</a></h4>
		</div>

		<div class="model-inst">
			<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=425915&type=card">
			<h4><a href="sets-instance.html?code=&quot;MM3&quot;&cards=&quot;Blood Moon&quot;&name=&quot;Franz Vohwinkel&quot;">MM3</a></h4>
		</div>

		<div class="model-inst">
			<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=382866&type=card">
			<h4><a href="sets-instance.html?code=&quot;VMA&quot;&cards=&quot;Black Lotus&quot;&name=&quot;Chris Rahn&quot;">VMA</a></h4>
		</div>
	</div>
{%endblock%}
