body {
  background: #e4e4e4;
}

h1 {
	margin-bottom: 3%;
}

#instance-main {
  text-align: center;
}

.model-inst {
	display: inline-block;
	text-align: center;
	padding: 1%;
}

img {
	display: block;
	margin: auto;
	margin-bottom: 2%;
}