{%extends "base.html"%}

{%block content%}
	<link rel="stylesheet" type="text/css" href="/static/css/models.css">
	<script type="text/babel">
		function SortOption(props) {
			return (
				<ol className="sort-button">
					<button className="btn btn-default"><a href={props.link}>{props.name}</a></button>
				</ol>
			);
		}

		function sortOrderChange() {
			$("#sort-order").toggleClass("glyphicon-arrow-down glyphicon-arrow-up")
			$(".sort-button a").each(function() {
				if (this.href.indexOf("desc") !== -1) {
					this.href = this.href.replace("desc", "asce");
				} else {
					this.href = this.href.replace("asce", "desc");
				}
			});
		}
			
		function SortList() {
			return (
				<div className="btn-group">
					<button className="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Sort By: <span id="sort-order" className="glyphicon glyphicon-arrow-down" onClick={sortOrderChange}></span>
					</button>
					<ul className="dropdown-menu">
						<SortOption name="Name" link="/artists/sort/name&desc"/>
						<SortOption name="Number of Cards" link="/artists/sort/numCards&desc"/>
						<SortOption name="Number of Sets" link="/artists/sort/numSets&desc"/>
					</ul>
				</div>
			);
		}
		ReactDOM.render(
			<SortList/>,
			document.getElementById('sorting-options')
		);
	</script>
	<script type="text/babel">
		function FilterOption(props) {
			return (
				<ol>
					<label className="checkbox-inline">
						<input type="checkbox" id={"filter-check-" + props.name.toLowerCase().replace(/\s/g,'')} value=""></input>
						{props.name}
					</label>
					<input type="text" className="form-control" id={"filter-" + props.name.toLowerCase().replace(/\s/g,'')}></input>
				</ol>
			);
		}

		function filterApply() {
			var numCards = document.getElementById("filter-check-numberofcards").checked ? $("#filter-numberofcards").val() : "NO-NUMCARD";
			var numSets = document.getElementById("filter-check-numberofsets").checked ? $("#filter-numberofsets").val() : "NO-NUMSETS";

			window.location.href = "/artists/filter/" + (numCards ? numCards : "NO-NUMCARD") + "&" + (numSets ? numSets : "NO-NUMSETS");
		}
			
		function FilterList() {
			return (
				<div className="btn-group">
					<button className="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    			Filter By: <span className="caret"></span>
		  			</button>
					<ul className="dropdown-menu" id="filtering-options">
						<FilterOption name="Number of Cards"/>
						<FilterOption name="Number of Sets"/>
						<ol><button className="btn btn-default" onClick={filterApply}>Filter!</button></ol>
					</ul>
				</div>
			);
		}
		ReactDOM.render(
			<FilterList/>,
			document.getElementById('filtering-options')
		);
	</script>

	<div class="magicdb-header">
		<h1>Artists</h1>
		<h3>Magic the Gathering is unique in such a way that each card is designed by one of many individual artists, here are some of those artists. </h3>
		<span id="sorting-options"></span>
		<span id="filtering-options"></span>
	</div>

	<div class="container-fluid">
		{% for artist in artists %}
			<div class="model-inst">
				<img src=
				{% if artist.cards.first().art.lower() != "none" %}
					{{ artist.cards.first().art }}
				{% else %}
					{{"http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=253575&type=card"}}
				{% endif %}
				class="img-fluid">
				<h4><a href={{"/artists&name=\"" ~ artist.name.replace(" ", "%20") ~ "\""}}>{{artist.name}}</a></h4>
			</div>
		{% endfor %}
	</div>

	<div id="mdb-pagination">
		<nav>
			<ul class="pagination">
				{% if page > 1 %}
					<li class="page-item"><a class="page-link" href={{prev_page(request.path)}}>Previous</a></li>
				{% endif %}
				<li class="page-item"><a class="page-link" href={{next_page(request.path)}}>Next</a></li>
			</ul>
		</nav>
	</div>
<!--
	<div class="container-fluid">
		<div class="model-inst">
			<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=413585&type=card" class="img-fluid">
			<h4><a href="artists-instance.html?name=&quot;Zach Stella&quot;&id=b611177dca2da89d2915f6ac4b5268a1426086cb">Zach Stella</h4>
		</div>

		<div class="model-inst">
			<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=425915&type=card" class="img-fluid">
			<h4><a href="artists-instance.html?name=&quot;Franz Vohwinkel&quot;&id=6e978e23a63cefdfaa34aee0bb4bdadd2ddfd459">Franz Vohwinkel</a></h4>
		</div>

		<div class="model-inst">
			<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=382866&type=card" class="img-fluid">
			<h4><a href="artists-instance.html?name=&quot;Chris Rahn&quot;&id=6ad6463d56da447ab490a1a2b2b8a18759befc5f">Chris Rahn</a></h4>
		</div>
	</div>-->

{%endblock%}
