<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>{{title}} - MagicDB</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- React JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.js"></script>
	    <script>
            function magicSearch(orVal) {
                window.location.href = "/search/" + orVal + "/" + document.getElementById("magic-db-search-query").value;
            }
    	</script>
	</head>


	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/cool"><img src="/static/images/MainLogo.png" id="bar-logo" style="position: relative; width: 80px; top: -8px;"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li {%if request.path == '/'%} class="active"{% endif %}>
							<a href="/">Home</a>
						</li>
						<li {%if '/cards' in request.path %} class="active"{% endif %}>
							<a href="/cards">Cards</a>
						</li>
						<li {%if'/sets' in request.path %} class="active"{% endif %}>
							<a href="/sets">Sets</a>
						</li>
						<li {%if '/subtypes' in request.path %} class="active"{% endif %}>
							<a href="/subtypes">Subtypes</a>
						</li>
						<li {%if '/artists' in request.path %} class="active"{% endif %}>
							<a href="/artists">Artists</a>
						</li>
						<li {%if request.path == '/about'%} class="active"{% endif %}>
							<a href="/about">About</a>
						</li>
						<li>
						    <input type="text" class="form-control" id="magic-db-search-query" placeholder="Type your search text here." style="position: relative; top: 8px;">
						</li>
						
			            <li>
			                <div class="dropdown" style="position: relative; top: 8px; left: -3px;">
			                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Search AND/OR
			                    <span class="caret"></span></button>
			                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
			                        <li><a id="and-search" onclick="magicSearch(&quot;and&quot;)">AND</a></li>
			                        <li><a id="or-search" onclick="magicSearch(&quot;or&quot;)">OR</a></li>
			                    </ul>
			                </div>
			            </li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div>
			{%block content%}{%endblock%}
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>
