{%extends "base.html"%}

{%block content%}
	<link rel="stylesheet" type="text/css" href="/static/css/search-style.css">

	<ul class="nav nav-pills" role="tablist">
		<li style="position: relative; top: -15px; margin-right: 5px;"><h3><span class="label label-default">Search in:</span></h3><li>
		<li role="presentation"><a href={{"/search/cards/" + searchText | replace(" ", "%20")}}>Cards</a></li>
		<li role="presentation"><a href={{"/search/sets/" + searchText | replace(" ", "%20")}}>Sets</a></li>
		<li role="presentation"><a href={{"/search/subtypes/" + searchText | replace(" ", "%20")}}>Subtypes</a></li>
		<li role="presentation" class="active"><a href="#">Artists</a></li>
	</ul>
	{% if artists|length %}
		<h1><strong><em>Artists</em></strong></h1>
		<div class="container-fluid">
			{% for artist in artists %}
				<div class="model-inst">
					<img src=
					{% if artist.cards.first().art.lower() != "none" %}
						{{ artist.cards.first().art }}
					{% else %}
						{{"http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=253575&type=card"}}
					{% endif %}
					width="200" class="img-fluid">
					<h4><a href={{"/artists&name=\"" ~ artist.name.replace(" ", "%20") ~ "\""}}>{{artist.name}}</a></h4>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<h1><strong>Sorry! No artists found! Click on one of the other buttons to search elsewhere.</strong></h1>
	{% endif %}
	<div id="mdb-pagination">
		<nav>
			<ul class="pagination">
				{% if page > 1 %}
					<li class="page-item"><a class="page-link" href={{get_page_url(request.path, page - 1)}}>Previous</a></li>
				{% endif %}
				{% if hasNextPage %}
					<li class="page-item"><a class="page-link" href={{get_page_url(request.path, page + 1)}}>Next</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
{%endblock%}