{%extends "base.html"%}

{%block content%}
	<link rel="stylesheet" type="text/css" href="/static/css/search-style.css">

	<ul class="nav nav-pills" role="tablist">
		<li style="position: relative; top: -15px; margin-right: 5px;"><h3><span class="label label-default">Search in:</span></h3><li>
		<li role="presentation"><a href={{"/search/" + orVal + "/cards/" + searchText | replace(" ", "%20")}}>Cards</a></li>
		<li role="presentation" class="active"><a href="#">Sets</a></li>
		<li role="presentation"><a href={{"/search/" + orVal + "/subtypes/" + searchText | replace(" ", "%20")}}>Subtypes</a></li>
		<li role="presentation"><a href={{"/search/" + orVal + "/artists/" + searchText | replace(" ", "%20")}}>Artists</a></li>
	</ul>
	{% if sets|length %}
		<h1><strong><em>Sets</em></strong></h1>
		<div class="container-fluid">
			{% for set in sets %}
				<div class="model-inst">
					<img src=
					{% if set.symbol.lower() != "none" %}
						{{ set.symbol }}
					{% else %}
						{{"https://tournamentcenter.eu/sites/default/files/mtg-logo.png"}}
					{% endif %}
					width="400" class="img-fluid">
					<h4><a href={{"/sets/" + set.code}}>{{set.name}}</a></h4>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<h1><strong>Sorry! No sets found! Click on one of the other buttons to search elsewhere.</strong></h1>
	{% endif %}
	<div id="mdb-pagination">
		<nav>
			<ul class="pagination">
				{% if page > 1 %}
					<li class="page-item"><a class="page-link" href={{get_page_url(request.path, page - 1)}}>Previous</a></li>
				{% endif %}
				{% if hasNextPage %}
					<li class="page-item"><a class="page-link" href={{get_page_url(request.path, page + 1)}}>Next</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
{%endblock%}