{%extends "base.html"%}

{%block content%}

	<link rel="stylesheet" type="text/css" href="/static/css/instance.css">
	<div id="instance-main">
		<h1>{{sets_instance.name}}</h1>
		<img src=
		{% if sets_instance.symbol.lower() != "none" %}
			{{ sets_instance.symbol }}
		{% else %}
			{{"https://tournamentcenter.eu/sites/default/files/mtg-logo.png"}}
		{% endif %}
		width="400" class="img-fluid">

		<h4><strong>Code: </strong>{{sets_instance.code}}</h4>
		<h4><strong>Release Date: </strong>{{sets_instance.rDate}}</h4>
		<h4><strong>Block: </strong>{{sets_instance.block}}</h4>
		<h4><strong>Number of Cards: </strong>{{sets_instance.numCards}}</h4>
		
		<h3><strong>Subtypes:</strong><br></h3>
				{% for subtype in sets_instance.subTypes %}
					<div class="model-inst">
						<img src=
						{% if subtype.xcards.first().art.lower() != "none" %}
							{{ subtype.xcards.first().art.lower() }}
						{% else %}
							{{"https://upload.wikimedia.org/wikipedia/en/a/aa/Magic_the_gathering-card_back.jpg"}}
						{% endif %}
						width="150" class="img-fluid">
						<h4><a href={{"/subtypes/" + subtype.name}}>{{subtype.name}}</a></h4>
					</div>
				{% endfor %}
		
		<h1><strong>Cards:</strong><br></h1>
			{% if sets_instance.cards.all() %}
				<div class="container-fluid">
					{% for card in sets_instance.cards.all() %}
						<div class="model-inst">
							<img src=
							{% if card.art.lower() != "none" %}
								{{ card.art }}
							{% else %}
								{{"https://upload.wikimedia.org/wikipedia/en/a/aa/Magic_the_gathering-card_back.jpg"}}
							{% endif %}
							width="150" class="img-fluid">
							<h4><a href={{"/cards/" + card.cardId}}>{{card.name}}</a></h4>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		<h3><strong>Artists:</strong><br>
			{% for artist in sets_instance.xartists.all() %}
				<a href={{"/artists&name=\"" ~ artist.name.replace(" ", "%20") ~ "\""}}>{{artist.name}}</a>
				<br>
			{% endfor %}
		</h3>
	</div>
	<!--<script>
				$("#instance-main").append("<h4><strong>Artists: </strong>" + getUrlParams()["name"].substring(3, getUrlParams()["name"].length - 3).replace("%20", " ") + "</h4>");
		    }
		};

		var code = getUrlParams()["code"].substring(3, getUrlParams()["code"].length - 3);
	    xmlHttp.open("GET", "https://api.magicthegathering.io/v1/sets/" + code, true); 
	    xmlHttp.send(null);
	</script>-->

{%endblock%}