{%extends "base.html"%}

{%block content%}
	
	<link rel="stylesheet" type="text/css" href="/static/css/models.css">
	<script type="text/babel">
		function SortOption(props) {
			return (
				<ol>
					<button className="btn btn-default">{props.name}</button>
				</ol>
			);
		}

		function sortOrderChange() {
			$("#sort-order").toggleClass("glyphicon-arrow-down glyphicon-arrow-up")
		}
			
		function SortList() {
			return (
				<div className="btn-group">
					<button className="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Sort By: <span id="sort-order" className="glyphicon glyphicon-arrow-down" onClick={sortOrderChange}></span>
					</button>
					<ul className="dropdown-menu">
						<SortOption name="Name"/>
						<SortOption name="Code"/>
						<SortOption name="Release Date"/>
						<SortOption name="Number of Cards"/>
					</ul>
				</div>
			);
		}
		ReactDOM.render(
			<SortList/>,
			document.getElementById('sorting-options')
		);
	</script>
	<script type="text/babel">
		function FilterOption(props) {
			return (
				<ol>
					<label className="checkbox-inline">
						<input type="checkbox" value=""></input>
						{props.name}
					</label>
					<input type="text" className="form-control" id={"filter-" + props.name.toLowerCase().replace(/\s/g,'')}></input>
				</ol>
			);
		}
			
		function FilterList() {
			return (
				<div className="btn-group">
					<button className="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    			Filter By: <span className="caret"></span>
		  			</button>
					<ul className="dropdown-menu" id="filtering-options">
						<FilterOption name="Release Year"/>
						<FilterOption name="Number of Cards"/>
					</ul>
				</div>
			);
		}
		ReactDOM.render(
			<FilterList/>,
			document.getElementById('filtering-options')
		);
	</script>
	
	<div class="magicdb-header">
		<h1>Sets</h1>
		<h3>Cards are released in different sets, here are some of them. </h3>
		<span id="sorting-options"></span>
		<span id="filtering-options"></span>
	</div>

	<div class="container-fluid">
		<div class="model-inst">
			<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=413585&type=card">
			<h4><a href="sets-instance.html?code=&quot;EMA&quot;&cards=&quot;Counterspell&quot;&name=&quot;Zach Stella&quot;">EMA</a></h4>
		</div>

		<div class="model-inst">
			<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=425915&type=card">
			<h4><a href="sets-instance.html?code=&quot;MM3&quot;&cards=&quot;Blood Moon&quot;&name=&quot;Franz Vohwinkel&quot;">MM3</a></h4>
		</div>

		<div class="model-inst">
			<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=382866&type=card">
			<h4><a href="sets-instance.html?code=&quot;VMA&quot;&cards=&quot;Black Lotus&quot;&name=&quot;Chris Rahn&quot;">VMA</a></h4>
		</div>
	</div>
{%endblock%}
