{%extends "base.html"%}

{%block content%}

	<link rel="stylesheet" type="text/css" href="/static/css/instance.css">
	<div id="instance-main">
		<h1>{{subtypes_instance.name}}</h1>
		<img src=
		{% if imageUrls != "none" %}
			{{ imageUrls }}
		{% else %}
			{{"https://upload.wikimedia.org/wikipedia/en/a/aa/Magic_the_gathering-card_back.jpg"}}
		{% endif %}
		class="img-fluid">
		<h4><strong>Number of Cards: </strong>{{subtypes_instance.numCards}}</h4>
		<h4>

			<strong>Sets:</strong><br>
			{% for set in subtypes_instance.ssets.all() %}
				<a href = {{"/sets/" + set.code}}> {{set.name}}</a>
				<br>
			{% endfor %}
		</h4>
		<h4>

			<strong>Cards:</strong><br>
			{% for card in subtypes_instance.xcards.all() %}
				<a href = {{"/cards/" + card.cardId}}> {{card.name}} </a>
				<br>
			{% endfor %}
		</h4>
	</div>
{% endblock %}